---
controller_settings:
  settings:
    AWX_COLLECTIONS_ENABLED: false

controller_organizations:
{% for _student in range(1, num_students | int + 1) %}
  - name: student{{ _student }}
{% endfor %}

controller_user_accounts:
{% for _student in range(1, num_students | int + 1) %}
  - username: student{{ _student }}
    organization: student{{ _student }}
    password: {{ _student_password }}
{% endfor %}

controller_inventories:
  - name: DHCP
    organization: Default

controller_hosts:
  - name: hypervisor
    inventory: DHCP
    enabled: true
    variables:
      ansible_host: "{{ ansible_host }}"

controller_credentials:
  - name: hypervisor
    organization: Default
    credential_type: Machine
    inputs:
      username: ec2-user
      ssh_key_data: |
        {% filter indent(width=8, first=false) %}{{ lookup('file', playbook_dir + '/ansible.pem') }}{% endfilter %}

  - name: network
    organization: Default
    credential_type: Machine
    inputs:
      username: ansible
      ssh_key_data: |
        {% filter indent(width=8, first=false) %}{{ lookup('file', playbook_dir + '/id_ansible') }}{% endfilter %}


controller_projects:
  - name: ZTP
    organization: Default
    scm_type: git
    scm_url: https://github.com/zjpeterson/ansible-network-virt.git
{% for _student in range(1, num_students | int + 1) %}
  - name: ZTP{{ _student }}
    organization: student{{ _student }}
    scm_type: git
    scm_url: https://github.com/zjpeterson/ansible-network-virt.git
{% endfor %}

controller_templates:
  - name: Add DHCP Static Reservation
    organization: Default
    inventory: DHCP
    credentials: hypervisor
    project: ZTP
    playbook: playbook_dhcpd_static.yml
    survey_enabled: true
    survey_spec:
      name: survey
      description: survey
      spec:
        - question_name: Device Name
          required: true
          type: text
          variable: device_name
          min: 0
          max: 20
          default: mydevice
        - question_name: MAC Address
          required: true
          type: text
          variable: mac_address
          min: 0
          max: 20
          default: 00:00:00:00:00:00
        - question_name: IP Address
          required: true
          type: text
          variable: ip_address
          default: 1.1.1.1

controller_roles:
{% for _student in range(1, num_students | int + 1) %}
  - user: student{{ _student }}
    organization: student{{ _student }}
    role: admin
  - user: student{{ _student }}
    organization: Default
    role: member
  - user: student{{ _student }}
    credential: network
    role: use
  - user: student{{ _student }}
    job_template: Add DHCP Static Reservation
    role: execute
{% endfor %}
